h1 {color:skyblue;}
p {color:#000000;background-color:#DEB887;opacity:0.75;}
body {background-image:"wp3884216.jpg"}
h2{background-color: blue; opacity:0.75;}
h2{font-style: italic;}
h3{background-color: #9932CC;opacity:0.75;}
